---
layout: default
---

<center class="title">/* home */</center>
<hr />

<div style="text-align: center; font-size: 18px; margin: 12px">
  [ <i style="color: red">latest posts</i> ]
</div>
{% if site.posts.size == 0 %}
<div align="center">
  Sorry, No Posts Yet !!
</div>
{% else %} {% for post in site.posts limit: 5 %}
<ul>
  <li>
    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{
      post.title
    }}</a>
  </li>
  {% endfor %}
</ul>
<div align="center" style="margin-top: -14px">
  <a href="/blog"><i>see more</i></a>
</div>
{% endif %}

<br />
<br />

<div style="text-align: center; font-size: 18px; margin: 12px">
  [ <i style="color: red">latest projects</i> ]
</div>
<ul>
  {% for repository in site.github.public_repositories limit: 5 %}
  <li>
    <a href="{{ repository.html_url }}"
      >[ <i>{{ repository.name }}</i> ]</a
    >
    {% if repository.language %}
    <span class="project-language" style="font-size: 11px">{{
      repository.language
    }}</span>
    {% endif %} {% if repository.description %}
    <br />
    <i>{{ repository.description }}</i>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<div align="center" style="margin-top: -14px">
  <a href="/project"><i>see more</i></a>
</div>
