---
layout: default
---

<center class="title">/* project */</center>
<hr />
<ul>
  {% for repository in site.github.public_repositories %}
  <li>
    <a href="{{ repository.html_url }}"
      >[ <i>{{ repository.name }}</i> ]</a
    >
    {% if repository.language %}
    <span class="project-language" style="font-size: 11px">{{
      repository.language
    }}</span>
    {% endif %} {% if repository.description %}
    <br />
    <i>{{ repository.description }}</i>
    {% endif %}
  </li>
  {% endfor %}
</ul>
