<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
        <link rel="shortcut icon" type="image/png" href="assets/img/cow.png"/>
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1 align="right"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

<pre style="border: 0px; background: transparent; letter-spacing: 1.2px; line-height: 22px; float: right;">
------------------------
<span style="color: red; float: right">Hello World, Mooo</span>
------------------------
              ^__^   /
      _______/(oo)  /
 *  /( 0   0 /(__)
  \/ | w-0--||
_____||_____||__________
</pre>

                <p style="text-align: justify; clear: both">{{ site.description | default: site.github.project_tagline }}</p>
                <p class="view"><a href="/">home</a></p>
                <p class="view"><a href="/about">about</a></p>
                <p class="view"><a href="/blog">blog</a></p>
                <p class="view"><a href="/project">project</a></p>
            </header>
            
            <section>
{{ content }}
            </section>
            
            <footer align="center">
                <small>hosted on github pages &mdash; theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
            </footer>
        </div>
        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    </body>
</html>
